@red: #FF2F2F;
@red-text: #ff6363;

@blue: #3369F3;
@blue-pressed: #1e52ca;

@blue-light: #E4EDFD;

@light: #e5e5e5;

@gray-light: #f8f8f8;

@gray: #efefef;

@gray-text: #999999;

@gray-border: 2px solid #EAEAEA;

@blue-border: 1px solid @blue;
@red-border: 1px solid @red;
