.entry-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
  width: 90vw;


  background: #FFFFFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;

  .entry-title {
    margin: 30px auto 30px;
    font-size: 20pt;
  }

  .submit-button {
    margin-top: auto;
    margin-bottom: 14px;
  }
  .registration-link, .authorization-link{
    margin-bottom: 30px;
  }
}

.registration form {
  height: 615px;
}

.authorization form {
  height: 450px;
}