.entry-container .entry-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
  width: 90vw;
  background: white;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;

    .submit-button {
      margin-top: auto;
      margin-bottom: 14px;
    }
  }

  .entry-title {
    margin: 30px auto;
    font-size: 20pt;
  }

  .registration-link,
  .authorization-link {
    margin-bottom: 30px;
  }
}

.registration .entry-block {
  height: 615px;
}

.authorization .entry-block {
  height: 450px;
}
