{{#if message.image}}
    <img class="image" src={{message.image}} alt="image">
{{/if}}
{{#if message.text}}
    <div class="text">{{message.text}}</div>
{{/if}}
<div class="time">{{message.time}}</div>